.btn{
    margin: 3px;
    border-radius: 3px;
  }
  .container{
      font-family:sans-serif;
      margin-top: 12px;
      margin-left: 2cm;
  }
  .table-striped{
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    color: #270082;
    min-width: 400px;
    border-radius: 10px 10px 10px 10px;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(139, 157, 235, 0.4);
    background-color: #E8F6EF;
    

  }
  
  .table-heading{
      text-align: center;
      color: #041C32;
  }
  .table-text{
      text-align: center;
      text-decoration: solid;
      font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  .icon-btn{
      color: blue;
  }
  .btn-outline-danger{
      margin-left: 25cm;
      margin-top: 20px;
      padding:5px;
      box-shadow: rgba(197, 24, 24, 0.5);
  }
  .table-category{
      
      
    font-size:large;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-left:2cm;
    margin-top: 19px;
    border: #041C32;
    text-decoration: underline;
    text-shadow: #041C32;}


    :host{
        display: flex;
        flex-direction: column;
        height: 100%;
      
    }
    
    mat-drawer{
        width: 260px;
        background: rgb(255, 255, 255);
        /* background-color: white; */
        
    }
    
    mat-drawer-container{
        height: 100%;
    }
    
    
    .content{
        /* padding: 5px; */
        margin-top: 5px;
        height: 400px;
        width:  450px;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        
        
    }
    
    p {
        padding: 10px;
    }
    
    /* */
    
    *{
        margin: 0 ; padding: 0; 
        box-sizing: border-box;
        /* background: red; */
    }
    #newmeet{
        margin-top: 5px;
    }