
<mat-drawer-container>

    <mat-drawer mode="side" [opened]="sideBarOpen">
           <!-- <mat-drawer mode="side" opened="true"> -->
           <app-sidenav> </app-sidenav>
    </mat-drawer>

    <mat-drawer-content>

           <app-header (toggleSidebarForMe)="sideBarToggler()">
           </app-header>
           
           <router-outlet>

<div class="container">
    <div class="row">
        <div class="col">
            <mat-card>
                <div class="text-center">
                    <h2 class="category">Invite People</h2>
                </div>
                <div>
                    <mat-form-field class="searchbar" appearance="outline">
                        <mat-label>Search Here</mat-label>
                        <input matInput type="search" placeholder="Enter Name" [(ngModel)]="filterTextLeft"
                            (ngModelChange)="onTextChangedLeft()">
                        <mat-icon matSuffix>search</mat-icon>
                    </mat-form-field>
                </div>
            </mat-card>

        </div>
        <div class="col">
            <mat-card>
                <div class="text-center">
                    <h2 class="category">Selected People</h2>
                </div>
                <div>
                    <mat-form-field class="searchbar" appearance="outline">
                        <mat-label>Search Here</mat-label>
                        <input matInput type="search" placeholder="Enter Name" [(ngModel)]="filterTextRight"
                            (ngModelChange)="onTextChangedRight()">
                        <mat-icon matSuffix>search</mat-icon>
                    </mat-form-field>
                </div>
            </mat-card>

        </div>
    </div>
    <div class="row" style="margin-top: 10px;" cdkDropListGroup>
        <div class="col">
            <mat-card>
                <div class="example-container">
                    <div cdkDropList [cdkDropListData]="selectedList | filterPeople: filterTextLeft:dummy"
                        [id]="'selectedList'" class="example-list" (cdkDropListDropped)="dropItem($event)">
                        <div class="example-box" *ngFor="let item of selectedList | filterPeople:filterTextLeft:dummy;
                        index as i" cdkDropListSortingDisabled cdkDrag>
                            <mat-icon class="icon-logo" matPrefix>account_circle</mat-icon>
                            <div class="container">
                                <div class="fullName">
                                    {{ item.fullName }}
                                    <!-- {{ item.id }} -->
                                </div>
                                <div style="color: blue;" >
                                    {{ item.userName }}
                                    <!-- {{ item.userId }} -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div style="text-align: center; " >
                    <button mat-raised-button color="warn"  class="selector" (click)="selectAllPeople()" >All </button>
                </div>
            </mat-card>
        </div>
        <div class="col">
            <mat-card>
                <div class="example-container">
                    <div cdkDropList [cdkDropListData]="availableList | filterPeople: filterTextRight:dummy"
                        [id]="'availableList'" class="example-list" (cdkDropListDropped)="dropItem($event)">
                        <div class="example-box" *ngFor="let item of availableList | filterPeople:filterTextRight:dummy;
                        index as i" cdkDropListSortingDisabled cdkDrag>
                            <mat-icon class="icon-logo" matPrefix>account_circle</mat-icon>
                            <div class="container">
                                <div class="fullName">
                                    {{ item.fullName }}
                                    <!-- {{ item.id }} -->
                                </div>
                                <div style="color:red;">
                                    {{ item.userName }}
                                    <!-- {{ item.userId }} -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div style="text-align:center;">
                    <button mat-raised-button color="primary" class="selector" (click)="clearAllPeople()" >clear</button>
                </div>

            </mat-card>

        </div>
    </div>
    
    <div class="row" style="margin-top: 25px;text-align: center;">
        <button mat-raised-button color="primary"  (click)="addPeople()" >Add</button>
     </div>


</div>