<div class="container">
    <div class="row">
        <div class="col">
            <mat-card>
                <div class="text-center">
                    <h2>Invite People</h2>
                </div>
                <div>
                    <mat-form-field class="searchbar" appearance="outline">
                        <mat-label>Search Here</mat-label>
                        <input matInput type="search" placeholder="Enter Name" [(ngModel)]="filterTextLeft"
                            (ngModelChange)="onTextChangedLeft()">
                        <mat-icon matSuffix>search</mat-icon>
                    </mat-form-field>
                </div>
            </mat-card>

        </div>
        <div class="col">
            <mat-card>
                <div class="text-center">
                    <h2>Selected People</h2>
                </div>
                <mat-form-field class="searchbar" appearance="outline">
                    <mat-label>Search Here</mat-label>
                    <input matInput type="search" placeholder="Enter Name" [(ngModel)]="filterTextRight"
                        (ngModelChange)="onTextChangedRight()">
                    <mat-icon matSuffix>search</mat-icon>
                </mat-form-field>

                <div>
                    
                </div>
            </mat-card>

        </div>
    </div>
    <div class="row" style="margin-top: 10px;" cdkDropListGroup>
        <div class="col">
            <mat-card>
                <div class="example-container">
                    <div cdkDropList [cdkDropListData]="todo" class="example-list" (cdkDropListDropped)="drop($event)">
                        <div class="example-box" *ngFor="let item of todo | filterPeople:filterTextLeft:dummy" cdkDrag>
                            {{item}}
                        </div>
                    </div>
                </div>
            </mat-card>
        </div>
        <div class="col">
            <mat-card>
                <div class="example-container">
                    <div cdkDropList [cdkDropListData]="done" class="example-list" (cdkDropListDropped)="drop($event)">
                        <div class="example-box" *ngFor="let item of done | filterPeople:filterTextRight:dummy" cdkDrag>
                            {{item}}
                        </div>
                    </div>
                </div>
            </mat-card>

        </div>

    </div>
    <div class="row" style="margin-top: 25px;text-align: center;">
        <div class="row">
            
        </div>
        <div class="col">
            <button mat-raised-button matStepperPrevious>Previous</button>
        </div>
        <div class="col">
            <button mat-raised-button color="primary">Add</button>
        </div>
        <div class="col">
            <button mat-raised-button matStepperNext>Next</button>
        </div>

    </div>
</div>