
:host{
    display: flex;
    flex-direction: column;
    height: 100%;
  
}

mat-drawer{
    width: 260px;
    background: rgb(255, 255, 255);
    /* background-color: white; */
    
}

mat-drawer-container{
    height: 100%;
}


.content{
    /* padding: 5px; */
    margin-top: 5px;
    height: 400px;
    width:  450px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    
    
}

p {
    padding: 10px;
}

/* */

*{
    margin: 0 ; padding: 0; 
    box-sizing: border-box;
    /* background: red; */
}

main{
    /* width: 90%; */
    height: 100%;
    /* margin: 50px auto; */
    padding: 10px;
    
    display: grid ; color: black;
    grid-template-rows: 350px 350px 350px 350px ;
    grid-template-columns: repeat(2 , 1fr) ;
    grid-gap: 12px;
}

.div1{
    /* background-color: rgb(236, 236, 219); */
    border: 1px solid black;
    border-radius: 7px;
    box-shadow: 1ch;
    box-shadow: 0 0 20px rgba(139, 157, 235, 0.3);
    background-color: #EDFFEC;
    

    /* grid-column: 1; */
}

.div2{
  
    /* background-color: rgb(236, 236, 219); */
    border: 1px solid black;
    border-radius: 7px;
    box-shadow: 0 0 20px rgba(139, 157, 235, 0.3);
    background-color: #EDFFEC;


}

.div3{
    /* background-color: rgb(236, 236, 219); */
    border: 1px solid black;
    border-radius: 7px;
    box-shadow: 0 0 20px rgba(139, 157, 235, 0.3);
    background-color: #EDFFEC;
    margin-bottom: 2cm;
    height: 330px;

}

.div4{
  
    border: 1px solid black;
    border-radius: 7px;
    box-shadow: 0 0 20px rgba(139, 157, 235, 0.3);
    background-color: #EDFFEC;
    margin-bottom: 2cm;
    height: 330px;



}


