<mat-drawer-container>

       <mat-drawer mode="side" [opened]="sideBarOpen">
              <!-- <mat-drawer mode="side" opened="true"> -->
              <app-sidenav> </app-sidenav>
       </mat-drawer>

       <mat-drawer-content>

              <app-header (toggleSidebarForMe)="sideBarToggler()">
              </app-header>
              
              <router-outlet>


                     <main >
                            
                            <!-- <div class="div1">  <P> <mat-icon>edit</mat-icon> HOW TO CREATE TASK ?   </P> 
                                   
                                   <ul style="margin: 15px; padding: 10px;" >

                                
                                          <li>
                                                 Add task title.
                                          </li>
                                          <li>
                                                 Set a start date and time and due date and time.
                                          </li>
              
                                          <li>
                                                 Add Task Description. 
                                          </li>

                                          <li>      
                                                Click on create and add more people.
                                          </li>

                                          <li>      
                                                 You are good to go.       
                                          </li>

                                   </ul>                  
                                         
       
                            <mat-card-content>
                                   <p>
                                          Thankyou For Reading.
                                   </p>
                            </mat-card-content>

                            <mat-card-actions>
                                   <div class="text-center">
                                          <button mat-button mat-raised-button class="btn-warning"
                                           style="width : 9em;" routerLink="../create-task-dashboard">create-task </button>
                                          <button mat-button class="btn-primary" (click)="fun()">Like</button>

                                   </div>
                            </mat-card-actions>

                            </div>
                            <div class="div2">  <P> <mat-icon>edit</mat-icon> HOW TO CREATE MEETINGS?</P> 

                                   <ul style="margin: 15px; padding: 10px;" >

                                
                                          <li>
                                                 Add meeting title.
                                          </li>
                                          
                                          <li>
                                                 Enter place value.
                                          </li>
                                          <li>
                                                 Set a start date and time and due date and time.
                                          </li>
              
                                          <li>
                                                 Add meeting description. 
                                          </li>

                                          <li>      
                                                Click on create and add more people
                                          </li>

                                          <li>      
                                                You are good to go.
                                          </li>

                                   </ul>   
                                   <mat-card-content>
                                          <p>
                                                 Thankyou For Reading.
                                          </p>
                                   </mat-card-content>
       
                                   <mat-card-actions>
                                          <div class="text-center">
                                                 <button mat-button mat-raised-button class="btn-warning"
                                                        style="width : 9em;" routerLink="../create-meeting-dashboard">create-meeting</button>
                                                 <button mat-button class="btn-primary" (click)="fun()">Like</button>
       
                                          </div>
                                   </mat-card-actions>
                            </div>

                            <div class="div3">  <P> <mat-icon>assignment</mat-icon>  HOW TO VIEW TASK?</P> 
                                   <p>1. You can use the cursor to click the Task View icon on the sidenav bar to run “Task View”. </p>
                                          
                                   <p> 2. In Task View, it will list all current windows you are using of the desktop on the top side, and you can select any to quickly open.</p>

                                   <mat-card-content>
                                          <p>
                                                 Thankyou For Reading.
                                          </p>
                                   </mat-card-content>
       
                                   <mat-card-actions>
                                          <div class="text-center">
                                                 <button mat-button mat-raised-button  class="btn btn-success"
                                                        style="width : 9em;" routerLink="../view-task"  >view-task</button>
                                                 <button mat-button class="btn-primary" (click)="fun()">Like</button>
       
                                          </div>
                                   </mat-card-actions>

                            </div>

                            <div class="div4">  <P> <mat-icon>assignment</mat-icon>  HOW TO VIEW MEETINGS?</P> 
                                   <p>1. You can use the cursor to click the Task Meeting icon on the sidenav bar to run "Meeting View”. </p>
                                          
                                   <p> 2. In Meeting View, it will list all current windows you are using of the desktop on the top side, and you can select any to quickly open.</p>

                                   <mat-card-content>
                                          <p>
                                                 Thankyou For Reading.
                                          </p>
                                   </mat-card-content>
       
                                   <mat-card-actions>
                                          <div class="text-center">
                                                 <button mat-button mat-raised-button  class="btn btn-success"
                                                        style="width : 9em;" routerLink="../view-meeting"  >view-meeting</button>
                                                 <button mat-button class="btn-primary" (click)="fun()">Like</button>
       
                                          </div>
                                   </mat-card-actions>

                            </div> -->
                            <div class="div1">
                                   <P>
                                     HOW TO CREATE TASK
                                     <button
                                       mat-plain-button
                                       matTooltip="Add task title.Set a start date and time and due date and time.Add Task Description.Click on create and add more people.
                                         You are good to go."
                                       matTooltipPosition="below"
                                       matTooltipHideDelay="100"
                                       style="border: 0ch"
                                       aria-label="Button that displays a tooltip that hides when scrolled out of the container"
                                     >
                                       <mat-icon style="border: 0ch">help_outline</mat-icon>
                                     </button>
                                   </P>
                         
                                   <mat-card-actions>
                                     <div class="text-center">
                                       <button
                                         mat-button
                                         mat-raised-button
                                         class="btn-warning"
                                         style="width: 9em; margin-top: 40px"
                                         routerLink="../create-task-dashboard"
                                       >
                                         create-task
                                       </button>
                                     </div>
                                   </mat-card-actions>
                                 </div>
                                 <div class="div2">
                                   <P>
                                     CREATE MEETINGS
                                     <button
                                       mat-plain-button
                                       matTooltip="Add meeting title.Enter place of meeting.Set a start date and time and end date and time of meeting.
                                       Add meeting description.Click on create and add more people.You are good to go."
                                       matTooltipPosition="below"
                                       matTooltipHideDelay="100"
                                       style="border: 0ch"
                                       aria-label="Button that displays a tooltip that hides when scrolled out of the container"
                                     >
                                       <mat-icon style="border: 0ch">help_outline</mat-icon>
                                     </button>
                                   </P>
                                   <mat-card-actions>
                                     <div class="text-center">
                                       <button
                                         mat-button
                                         mat-raised-button
                                         class="btn-warning"
                                         style="width: 9em; margin-top: 40px"
                                         routerLink="../create-meeting-dashboard"
                                       >
                                         create-meeting
                                       </button>
                                     </div>
                                   </mat-card-actions>
                                 </div>
                         
                                 <div class="div3">
                                   <P>
                                     VIEW TASK
                                     <button
                                       mat-plain-button
                                       matTooltip="You can view or edit the task based on your role in task."
                                       matTooltipPosition="below"
                                       matTooltipHideDelay="100"
                                       style="border: 0ch"
                                       aria-label="Button that displays a tooltip that hides when scrolled out of the container"
                                     >
                                       <mat-icon style="border: 0ch">help_outline</mat-icon>
                                     </button>
                                   </P>
                         
                                   <mat-card-actions>
                                     <div class="text-center">
                                       <button
                                         mat-button
                                         mat-raised-button
                                         class="btn btn-success"
                                         style="width: 9em; margin-top: 40px"
                                         routerLink="../view-task"
                                       >
                                         view-task
                                       </button>
                                     </div>
                                   </mat-card-actions>
                                 </div>
                         
                                 <div class="div4">
                                   <P>
                                     VIEW MEETINGS
                                     <button
                                       mat-plain-button
                                       matTooltip="You can view or edit the meeting based on your role in task."
                                       matTooltipPosition="below"
                                       matTooltipHideDelay="100"
                                       style="border: 0ch"
                                       aria-label="Button that displays a tooltip that hides when scrolled out of the container"
                                     >
                                       <mat-icon style="border: 0ch">help_outline</mat-icon>
                                     </button>
                                   </P>
                                   <mat-card-actions>
                                     <div class="text-center">
                                       <button
                                         mat-button
                                         mat-raised-button
                                         class="btn btn-success"
                                         style="width: 9em; margin-top: 40px"
                                         routerLink="../view-meeting"
                                       >
                                         view-meeting
                                       </button>
                                     </div>
                                   </mat-card-actions>
                                 </div>
                     </main>
                     
              </router-outlet>

       </mat-drawer-content>

</mat-drawer-container>



<router-outlet>
       
</router-outlet>




