<mat-drawer-container>

       <mat-drawer mode="side" [opened]="sideBarOpen">
              <!-- <mat-drawer mode="side" opened="true"> -->
              <app-sidenav> </app-sidenav>
       </mat-drawer>

       <mat-drawer-content>

              <app-header (toggleSidebarForMe)="sideBarToggler()">
              </app-header>
              <router-outlet>


                     <main >

                            <div class="div1">  <P> <mat-icon>edit</mat-icon> HOW TO CREATE TASK ?   </P> 

                                   <p> 1. Select New Items > Task or press Ctrl+Shift+K. </p>

                            <mat-card-content>
                                   <p>
                                          Thankyou For Reading.
                                   </p>
                            </mat-card-content>

                            <mat-card-actions>
                                   <div class="text-center">
                                          <button mat-button mat-raised-button class="btn-warning"
                                           style="width : 9em;" routerLink="../create-task-dashboard">create-task </button>
                                          <button mat-button class="btn-primary" (click)="fun()">Like</button>

                                   </div>
                            </mat-card-actions>

                            </div>
                            <div class="div2">  <P> <mat-icon>edit</mat-icon> HOW TO CREATE MEETINGS?</P> 
                                   <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nemo perspiciatis provident hic eos totam accusantium corporis mollitia id! Temporibus laboriosam nemo culpa alias quis minus explicabo distinctio eaque! Modi, delectus!</p>
                                   <mat-card-content>
                                          <p>
                                                 Thankyou For Reading.
                                          </p>
                                   </mat-card-content>
       
                                   <mat-card-actions>
                                          <div class="text-center">
                                                 <button mat-button mat-raised-button class="btn-warning"
                                                        style="width : 9em;" routerLink="../create-meeting-dashboard">create-meeting</button>
                                                 <button mat-button class="btn-primary" (click)="fun()">Like</button>
       
                                          </div>
                                   </mat-card-actions>
                            </div>
                            <div class="div3">  <P> <mat-icon>assignment</mat-icon>  HOW TO VIEW TASK?</P> 
                                   <p>1. You can use the cursor to click the [Task View] icon on the taskbar①, or press the Windows logo key + tab key on the keyboard to run “Task View”. </p>
                                          
                                   <p> 2. In Task View, it will list all current windows you are using of the desktop on the top side, and you can select any to quickly open②.</p>

                                   <mat-card-content>
                                          <p>
                                                 Thankyou For Reading.
                                          </p>
                                   </mat-card-content>
       
                                   <mat-card-actions>
                                          <div class="text-center">
                                                 <button mat-button mat-raised-button  class="btn btn-success"
                                                        style="width : 9em;" routerLink="../view-task"  >view-task</button>
                                                 <button mat-button class="btn-primary" (click)="fun()">Like</button>
       
                                          </div>
                                   </mat-card-actions>

                            </div>
                            <div class="div4"> <P> <P> <mat-icon>assignment</mat-icon> HOW TO VIEW MEETINGS?</P> 
                                   <p>1. You can use the cursor to click the [Task View] icon on the taskbar①, or press the Windows logo key + tab key on the keyboard to run “Task View”. </p>
                                          
                                   <p> 2. In Task View, it will list all current windows you are using of the desktop on the top side, and you can select any to quickly open②.</p>
                                   <mat-card-content>
                                          <p>
                                                 Thankyou For Reading.
                                          </p>
                                   </mat-card-content>
       
                                   <mat-card-actions>
                                          <div class="text-center">
                                                 <button mat-button mat-raised-button class="btn-success "
                                                        style="width : 9em;" routerLink="../view-meeting">view-meeting </button>
                                                 <button mat-button class="btn-primary" (click)="fun()">Like</button>
       
                                          </div>
                                   </mat-card-actions>
                                   
                            </div>

                     </main>
                     
              </router-outlet>

       </mat-drawer-content>

</mat-drawer-container>



<router-outlet>
       
</router-outlet>



