<div fxLayoutAlign="center center" fxFill class="main-div img">

    <!-- <mat-card> </mat-card> -->
  
    <mat-card fxFlex="30">
  
      <mat-toolbar fxLayoutAlign="center center" color="primary" style="height: 38px;"> Reset Password</mat-toolbar>
  
      <form  fxLayoutAlign="stretch" fxLayout="column" style="border: 0cm;" class="mytask">
  
       
  
        <mat-form-field appearance="fill">
          <mat-label> New Password</mat-label>
          <input  name = "new-password" matInput type="password" placeholder="New Password" >
        </mat-form-field>
  
        <mat-form-field appearance="fill">
          <mat-label>Confirm Password</mat-label>
          <input  name = "confirm-password" matInput type="password" placeholder="Confirm Password" >
        </mat-form-field>
  
        <div class="text-center">
          <button mat-raised-button type="submit" class="btn btn-primary btn-success" routerLink="../login">Save</button>
        </div>
      </form>
      
  
      <p id="para">Already have an account?</p>
      <a id="para" routerLink="../login" >Login</a> 
  
    </mat-card>
  
  </div>