
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" routerLink="../dashboard" >Home</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">

        <li class="nav-item active">
          <a class="nav-link" routerLink="aboutpage"> About Us</a>
        </li>

        <li class="nav-item active">
          <a class="nav-link" routerLink="../create-task-dashboard"> Create Task </a>
        </li>
        
        <li class="nav-item active">
          <a class="nav-link" routerLink="../view-task"> View Task </a>
        </li>

        <li class="nav-item">
          <a class="nav-link" routerLink="../create-meeting-dashboard">Create Meeting</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" routerLink="../view-meeting">View Meeting</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="#"></a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="#"></a>
        </li>

    
        <form class="form-inline">
        <button class="btn btn-danger" style="height: 35px;"  >
            <li class="nav-item" >
                <a class="nav-link" routerLink="../login" style="color: white; padding: 2px;">Logout</a>
              </li>
          </button>
          
         
 </form>

      </ul>
    </div>
  </nav>

  
<main>
    <h1 fxLayoutAlign="center center" style="font-weight: bolder; color: aliceblue; " >About Us</h1>

    <div class="div1">
        
   <h1 style="padding: 100px; margin: 10px; color: rgb(255, 255, 255); ">  We power the momentum of modern talent-focused enterprises </h1>
      <h2 style="color: white;" >We are the momentum that powers your growth</h2>

   <p  style="padding: 1px;  color: rgb(255, 255, 255); " >

    Today, with our comprehensive platform ,we serve over 50+ top enterprises across Asia Pacific and power seamless employee experience over thousands of devices.
    Our technology is a reflection of the growing needs of modern, talent-focused enterprises and their increasingly complex HR use cases; of people and business leaders who want technology to do more. We are on a mission to power the Talent Economy with our Tech.

   </p>
    </div>

    <div class="div2">
        <img src="../../assets/peopleimg.jpeg" style="padding: 100px; margin: 10px; height: 500px;">
    </div>

</main>
