.mat-stepper-horizontal {
    margin-top: 8px;
  }
  
  .mat-form-field {
    margin-top: 16px;
  }

  .full-width{
    width: 100%;
  }
  .half-width{
    width: max-content;
  }
.card{
  margin-top: 30px;
  margin-bottom: 30px;
}  
.btn{
  margin: 25px;
  align-items: center;
}
.icon-logo{
  font-size: 30px;
  color:blue
}
.icon-cal{
  font-size: 27px;
  color:blue
}
/* .userlist{
  margin-top: 30px;
  max-height: 600px;
  min-height: 500px;
  height: 600px;
}   */


:host{
  display: flex;
  flex-direction: column;
  height: 100%;

}

mat-drawer{
  width: 260px;
  background: rgb(255, 255, 255);
  /* background-color: white; */
  
}

mat-drawer-container{
  height: 100%;
}


.content{
  /* padding: 5px; */
  margin-top: 5px;
  height: 400px;
  width:  450px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  
  
}

p {
  padding: 10px;
}



*{
  margin: 0 ; padding: 0; 
  box-sizing: border-box;
  /* background: red; */
}

