.btn{
    margin: 3px;
    border-radius: 3px;
  }
  .container{
      font-family:sans-serif;
      margin-top: 5px;
      margin-left: 1cm;
  }
  .table-striped{
    border-collapse: collapse;
    margin: 18px 0;
    font-size: 0.9em;
    color: #270082;
    min-width: 400px;
    border-radius: 10px 10px 10px 10px;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(139, 157, 235, 0.4);
    background-color: #E8F6EF;
    

  }

  .label{
      font-size: x-large;
      font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }
  .table-category{
      
      
      font-size:large;
      font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
      margin-left:2cm;
      margin-top: 19px;
      border: #041C32;
      text-decoration: underline;
      text-shadow: #041C32;
      
  }
  .table-category2{
    font-size:large;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-left:2cm;
    margin-top: 25px;
    border: #041C32;
    text-decoration: underline;
    text-shadow: #041C32;
  }
  
  .table-heading{
      text-align: center;
      color: #041C32;
      font-weight: 100;
  }
  .table-text{
      text-align: center;
      text-decoration: solid;
      font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  .icon-btn{
      color: blue;
  }

  
.form-inline{
    display: flex;
    position: absolute;
    left: 93vw;
}


button{

    padding: 4px;
    height: 45px;

}

main{
    
    background-color: blue;
    height: 100vh; 
    opacity: 0.7; 
    display: grid; color: black;
    grid-template-rows: 100px 100px;
    grid-template-columns: repeat(2 , 1fr) ;
    grid-gap: 10px;

}

/* .div1{

    height: 100vh;
    border: 2px solid black;
} */



