@import "~@angular/material/prebuilt-themes/indigo-pink.css";
.main-div{
    margin: 10px;
    padding: 5px;
    color:black;
    font-weight: bolder;
	background: url(\Users\abhishek.solanki\Documents\GitHub\Frontend-sign-Login\SignUp\src\assets\bg.png) no-repeat;
	border: 20px;
	background-size: cover;
	
	opacity: 0.8;
	font-family: sans-serif;
}
.login-form{
	padding: 20px;
	font-family: sans-serif;
	color: black;
	
}
#para{
    color: #8A39E1;
    margin: 4px;
    display: block;
    text-align: center;
    justify-content:center ;
	font-family: sans-serif;
}
.form{
	margin: 20px;
	border-color: #f00ef0;
	border-width: 10px solid;

	
}
#login-head{
background-color: #8A39E1;
}
#button{
	background-color: #270082;
	color: aliceblue;
}

a:link{
	text-decoration: none;
}

#text-box{
	border-color: #270082;
	border-width: 10px;
	color: aliceblue;
	color: white;
  font-size: 18px;
  width: 80%;
}