<div class="container" text-center>
    <mat-card class="card">
        <mat-stepper labelPosition="bottom" #stepper>
            <mat-step [stepControl]="TaskFormGroup">

                <form [formGroup]="TaskFormGroup" class="text-center" (ngSubmit)="onCreateTask()">
                    <ng-template matStepLabel>Create Task</ng-template>

                    <div class="form-group" class="row">
                        <mat-form-field class="full-width" appearance="outline">
                            <mat-label>Task Title</mat-label>
                            <input matInput type="text" placeholder="Enter Task Name" formControlName="taskTitle" required>
                        </mat-form-field>
                    </div>
                    
                    <div class="form-group" class="row">
                        <div class="col">
                            <mat-form-field class="half-width" style="margin-right: 10px;" color="accent"
                                appearance="fill">
                                <mat-label>Start Date</mat-label>
                                <input matInput [matDatepicker]="picker1" class="icon-cal" formControlName="startDate" required>
                                <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                                <mat-datepicker #picker1></mat-datepicker>
                            </mat-form-field>

                            <mat-form-field class="half-width" appearance="fill">
                                <mat-label>start time</mat-label>
                                <input matInput type="time" class="icon-logo" placeholder="Enter start time" formControlName="startTime" required>
            
                            </mat-form-field>
                        </div>
                        <div class="col">

                            <mat-form-field class="half-width" style="margin-right: 10px;" color="accent"
                                appearance="fill">
                                <mat-label>Due Date</mat-label>
                                <input matInput [matDatepicker]="picker2" class="icon-cal" formControlName="dueDate" required>
                                <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                                <mat-datepicker #picker2 color="primary"></mat-datepicker>
                            </mat-form-field>

                            <mat-form-field class="half-width" appearance="fill">
                                <mat-label>due time</mat-label>
                                <input matInput type="time" class="icon-logo" placeholder="Enter due time" formControlName="dueTime" required>
                            </mat-form-field>
                        </div>
                    </div>

                    <div class="form-group" class="row">
                        <mat-form-field class="full-width" appearance="outline">
                            <mat-label>Discription</mat-label>
                            <textarea matInput placeholder="Enter Discription" formControlName="discription" required></textarea>
                        </mat-form-field>
                    </div>


                    <div class="row">
                        <div class="col">
                            
                        </div>
                        <div class="col">
                            <button type="submit" [disabled]="!TaskFormGroup.valid" mat-raised-button color="primary">Create</button>
                        </div>
                        <div class="col" style="text-align: end;">
                            <button mat-mini-fab color="warn" matStepperNext >
                                <mat-icon >keyboard_arrow_right</mat-icon>
                              </button>
                        </div>
                    </div>
                </form>
            </mat-step>


            <mat-step >
                <ng-template matStepLabel>Add People</ng-template>
                <app-add-people></app-add-people>
                <div class="row" style="margin-top: 30px;">
                    <div class="col" style="text-align: start;">
                        <button mat-mini-fab color="primary" matStepperPrevious >
                            <mat-icon>keyboard_arrow_left</mat-icon>
                          </button>
                    </div>
                    <div class="col" style="text-align: end;">
                        <button mat-mini-fab color="warn" matStepperNext >
                            <mat-icon >keyboard_arrow_right</mat-icon>
                          </button>
                    </div>
                </div>
                    
            </mat-step>
            
            <mat-step>
                <ng-template matStepLabel>Done</ng-template>
                <div class="container" style="text-align: center;">
                    <div class="row">
                        <p>You have completed all requirements.</p>
                    </div>
                    <div class="row">
                        <div class="col" style="text-align: start;">
                            <button mat-mini-fab color="primary" matStepperPrevious >
                                <mat-icon>keyboard_arrow_left</mat-icon>
                              </button>
                        </div>
                        <div class="col" style="text-align: center;">
                            <button mat-raised-button color="warn" (click)="onSubmitTask()" (click)="stepper.reset()">Create and reset</button>
                        </div>
                        <div class="col">

                        </div>
                    </div>
                </div>
                
            </mat-step>
        </mat-stepper>
    </mat-card>
</div>