<mat-nav-list>
    <div class="logo py-4">
        <img src="../../assets/company.jpeg" alt="" />
        <!-- <h2>company logo</h2> -->
   </div>

   <mat-divider> </mat-divider>

    <h2 matSubheader class="mt-2" >APPLICATIONS</h2>

    <a mat-list-item routerLink="./dashboard" routerLinkActive="list-item-active">
    <mat-icon>home</mat-icon>Home   </a>

    <a mat-list-item routerLink="../aboutpage" routerLinkActive="list-item-active">
        <mat-icon>supervised_user_circle</mat-icon>About  </a>

    <a mat-list-item routerLink="../create-task-dashboard" routerLinkActive="list-item-active">
    <mat-icon >edit</mat-icon>Create Task </a>

    <a mat-list-item routerLink="../view-task" routerLinkActive="list-item-active">
    	<mat-icon>assignment</mat-icon>View Task   </a>

    <a mat-list-item routerLink="/create-meeting-dashboard" routerLinkActive="list-item-active">
    <mat-icon>edit</mat-icon>Create Meeting </a>

    <a mat-list-item routerLink="/view-meeting" routerLinkActive="list-item-active">
        <mat-icon>assignment</mat-icon>View Meeting </a>
        
<!-- 
    <a mat-list-item routerLink="/home" routerLinkActive="list-item-active">
    <mat-icon> settings</mat-icon>Settings</a> -->


</mat-nav-list>
