<div fxLayoutAlign="center center" fxFill class="main-div img">

    <!-- <mat-card> </mat-card> -->
  
    <mat-card fxFlex="30">
  
      <mat-toolbar fxLayoutAlign="center center" color="primary" style="height: 38px;"> Forgot Password</mat-toolbar>
  
      <form  fxLayoutAlign="stretch" fxLayout="column" style="border: 0cm;" class="mytask">
  
        <p id="para">A link to reset password will be sent on the entered email ID.</p>
  
        <mat-form-field appearance="fill">
          <mat-label> Username</mat-label>
          <input  name = "username" matInput type="text" placeholder="Username" >
        </mat-form-field>
  
        <mat-form-field appearance="fill">
          <mat-label>Email ID</mat-label>
          <input  name = "emailId" matInput type="email" placeholder="Email ID" >
        </mat-form-field>
  
        <div class="text-center">
          <button mat-raised-button type="submit" class="btn btn-primary btn-success" >Send Link</button>
        </div>
      </form>
      
  
      
      <!-- <a id="para" routerLink="../login" >Login</a> 
   -->
    </mat-card>
  
  </div>