#para{
    color: #0e83f0;
    margin: 4px;
    display: block;
    text-align: center;
    justify-content:center ;
}

.main-div{
    margin: 10px;
    padding: 5px;
    color:black;
    font-weight: bolder;
}


.img{

    background-image: url('\Users\abhishek.solanki\Desktop\Frontend\SignUp\src\assets\images\backimage.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    /* width: 100vw; */
    opacity: .6px;
    /* position: relative; */

}

a:link{
    text-decoration: none;
    text-align: center;
}
