#para{
    color: #8A39E1;
    margin: 4px;
    display: block;
    text-align: center;
    justify-content:center ;
}

.main-div{
    margin: 10px;
    padding: 5px;
    color:black;
    font-weight: bolder;
}


.img{
    background-image: url(\Users\nishant.saini\Documents\GitHub\Frontend-sign-Login\SignUp\src\assets\bg.png);  
    background-size: cover;
    height: 100%;
    opacity: 0.8;
}

a:link{
    text-decoration: none;
    text-align: center;
}
