<div class="row">
    <div class="d-flex p-2 bd-highlight" id="task-name">Complete Assesment</div>
    <div class="col-sm-4" id="feature">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Description</h5>
          <p class="card-text">Create ppt</p>
        </div>
      </div>
    </div>
    <div class="col-sm-4" id="feature">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Created by</h5>
          <p class="card-text">katy</p>
        </div>
      </div>
    </div>
    
    <div class="col-sm-4" id="feature">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Assigned on</h5>
            <p class="card-text">12/02/2022</p>
          </div>
        </div>
    </div>

    <div class="col-sm-4" id="feature">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Due date</h5>
            <p class="card-text">15/02/2022</p>
          </div>
        </div>
    </div>

    <div class="col-sm-4" id="feature">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Member progress</h5>
            <ul class="list-group">
                <li class="list-group-item d-flex justify-content-between align-items-center">
                  Katy
                  <span class="badge bg-secondary rounded-pill">Completed</span>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                  Jim
                  <span class="badge bg-success rounded-pill">Incomplete</span>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                  Alex
                  <span class="badge bg-secondary rounded-pill">Completed</span>
                </li>
              </ul>
         </div>
    </div>
    </div>
  </div>